@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import '~boxicons';

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.email-login-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B2ACE7;

  &-box {
    border-radius: 10px;
    border: 3px solid #FFFF;
    display: flex;
    flex-direction: column;
    width: calc(380px - 4rem);
    height: calc(380px - 4rem);
    padding: 2rem;
    align-items: center;
    justify-content: center;


    i {
      color: #7a70ce;
      font-size: 2.5rem;
    }

    &-inputs-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      input {
        height: calc(50px - 2rem);
        width: calc(100% - 2rem);
        border: none;
        background-color: #ECEBFF;
        padding: 1rem;
        color: #B2ACE7;

        &::placeholder {
          color: #B2ACE7;
        }

        &:first-child {
          margin-bottom: 1.5rem;
        }

      }
    }

    button {
      background-color: #7a70ce;
      color: #ECEBFF;
      border-radius: 10px;
      width: 150px;
      padding: .8rem 0;
      font-weight: 500;
      margin-top: 2rem;
      transition: .3s all;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}

.email {
  display: flex;
  width: 100%;
  height: 100vh;
}

.email-sidebar {
  width: 400px;
  box-shadow: 0 0 15px rgba(#000, 0.2);
  background-color: #FFFF;
  height: 100vh;
  border: 3px solid #FAFAFA;
  position: relative;

  &-user-box {
    border-bottom: 3px solid #FAFAFA;
    padding: 1.5rem 2rem;
    display: flex;
    width: calc(100% - 4rem);

    &-avatar {
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
    }

    &-info {
      display: flex;
      margin-left: 1rem;

      p {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  &-buttons-box {
    width: 100%;
    padding-top: 1.5rem;


  }

  button {
    width: 100%;
    padding: .7rem 0;
    background-color: transparent;
    color: #BFBFBF;
    justify-content: unset;
    position: relative;
    margin-bottom: 20px;

    .inbox-amount-box {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3rem;
      padding: 0 8px;
      background-color: #ECEBFF;
      border-radius: 15px;
      color: #FFFF;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 11px;
        font-weight: 500;
      }

    }

    &:hover {
      background-color: #ECEBFF;
      color: #AFA9E6;
      border-right: 3px solid #A19CD1;

      .inbox-amount-box {
        background-color: #FFFF;
        color: #AFA9E6;


      }
    }


    i {
      font-size: 1.3rem;
      margin-right: 2rem;
      margin-left: 2rem;
    }

    p {
      font-weight: 500;
    }
  }

  &-logout-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 2rem 0;
    border-top: 3px solid #FAFAFA;

    button {
      i {
        margin-left: 2rem;
      }

    }
  }
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

}